#share-more
  width 420px
  height auto
  padding 32px
  padding-top 20px
  position absolute
  text-align left
  background #fff
  border 1px solid #f1f1f1
  z-index 1
  .jiao
    background url("../../img/jiao.png")
    position absolute
    top -6px
    left 100px
    width 10px
    height 6px
  h1
    font-size 12px
    color #333
    margin-bottom 20px
  .info
    margin 16px 0 0
    color #999
  .area-share
    margin 0 0 10px 0
    span
      width 85px
      margin-right 8px
      font-size 12px
    .subtitle
      margin 0
      height 24px
      line-height @height
      padding 0 4px
      border-radius 1px
      box-shadow none
      color #999
      cursor default
    input
      width 240px
      cursor text
      margin 0 2px
      padding 0 4px
      height 24px
      outline none
      border 1px solid #bbb
      border-radius 1px
      background #f8f8f8
      box-shadow 0 1px 1px raba(0,0,0,0.1)
      color #666
      font-size 12px
      line-height normal
    span.copy
      width 50px
      height 26px
      line-height @height - 2
      text-align center
      border 1px solid #ccc
      margin-left -3px
      cursor pointer
      box-sizing border-box
