//字号
$fontSize = 14px
$fontSizeSmall = 12px
$fontSizeBig = 16px

//字体颜色
$colorGreen = #2ab69d

$colorGray = #333
$colorGray1 = #666
$colorGray2 = #999

$colorRed = #f00
$colorRed1 = #fd4c5d

$colorYello = #ffba60

//info颜色
$error = #df4d34
$info = #205f98
$warning = #f89100
$success = #97ba00
$primary = #0074cc

//.test
//  color = #fd4c5d
