
// Created on 2016/11/3.

@import "../variable.styl"
// @import "../module/nav-detail.styl"
.header
  padding 0 !important
  &.fixed
    .nav
      top 0 !important
      background-color #fff
  #nav
    display block !important
    top 0
    li
      margin-right 10px
      .user-avatar
        display none
    .search-box
      width 170px
      position: relative
      left: 0
      top: 8px
      #search-text
        width 150px
        border-radius 14px
        border-right 1px solid #e5e5e5
        padding-right 24px
        height: 30px
        font-size: 12px
        text-indent: 6px
      .search-result
        width 240px
        font-size: 12px
        border-radius: 0 0 3px 3px
        top: 38px !important
        .hot-search
          text-indent: 6px;
        ul
          height auto !important
          li
            clear both
            width 220px
            height 32px
            margin-right: 0
            i
              font-style: normal
              color: #fd4c5d
      .search-hot-ul
        height auto !important
        li
          margin 0
          clear both
          font-size 12px
          height 32px
          width 130px
      .search-btn
        margin-left -25px
        color #909699
        width 0
        .icon-search
          width 20px
          &:before
            color: inherit;

    .header-guide
      overflow visible
      ul
        height auto
        padding 0 12px
        li
          a
            height auto
      .guide-item-con
        left: -5px
        a
          color #333
          padding-left: 0
          &:hover
            color #fd4c5d
        #user-message-con
          width 186px
          li
            float: none

// 清除浮动
.clearf:after
  display block
  content '.'
  clear both
  height 0
  visibility hidden
.clearf
  zoom 1
  
#mask
  display none
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background-color #000
  opacity .5
  z-index 10

// .header #nav li .user-avatar
//   display block

#main
  height 1434px
  margin 0
  // 主背景图片
  #bg-emot
    position absolute
    width 100%
    .bg-emot-size
      width 100%
      height 287px
    .bg-emot-a
      background url("../../img/emot/bg-1.png") no-repeat center top
    .bg-emot-b
      height 286px
      background url("../../img/emot/bg-2.png") no-repeat center top
    .bg-emot-c
      background url("../../img/emot/bg-3.png") no-repeat center top
    .bg-emot-d
      background url("../../img/emot/bg-4.png") no-repeat center top
    .bg-emot-e
      background url("../../img/emot/bg-5.png") no-repeat center top
      

// h5访问弹窗
#confirm
  display none
  position fixed
  top 50%
  left 50%
  transform translate(-50%,-50%)
  -webkit-transform translate(-50%,-50%)
  -moz-transform translate(-50%,-50%)
  width 500px
  height 260px
  z-index 11
  background-color #fff
  border 4px solid #000
  border-radius 8px
  color #000
  text-align center
  .c-font
    margin-top 40px
    p
      font-size 22px
  .c-btn
    margin 34px auto 0
    .emot-btn
      float left
      margin-left 58px
      height 48px
      width 160px
      font-size 22px
      border 3px solid #000
      border-radius 4px
      font-weight bold
      line-height 48px
      cursor pointer
    #emot-no
      background-color #ccc
    #emot-ok
      background-color #48dbff
      &:hover
        color #ffd21c
// 内容区域
.content-warp
  width 980px
  height 700px
  position relative
  top 620px
  margin 0 auto
  text-align center
  .emot-download
    width 384px
    height 300px
    float left
    margin 0 72px 0 30px
  .emot-download-h
    width 670px
    height 130px
    margin 0 0 0 30px
    .emot-name-w
      width 590px
    .btn-margin
      margin 14px 0 0 74px

// 小模块上部
.emot-num-bg
  width 61px
  height 63px
  float left
.emot-num-1
  background url("../../img/emot/num-1.png") no-repeat center top
.emot-num-2
  background url("../../img/emot/num-2.png") no-repeat center top
.emot-num-3
  background url("../../img/emot/num-3.png") no-repeat center top
.emot-num-4
  background url("../../img/emot/num-4.png") no-repeat center top
.emot-num-5
  background url("../../img/emot/num-5.png") no-repeat center top
.emot-name
  display block
  width 300px
  height 40px
  float right
  margin-top 14px
  font-size 22px
  color #000
  background-color #fff
  font-weight bold
  line-height 40px
  border 4px solid
  border-radius 24px
    
// 小模块下部
.emot-download-bot
  position relative
  height 170px
  margin-top 10px
  background-color #fff
  border 4px solid #000
  border-radius 10px
  .emot-show
    width 167px
    height 144px
    float left
    margin 13px
  .emot-show-1
    background url("../../img/emot/emot-1.png") no-repeat center top
  .emot-show-2
    background url("../../img/emot/emot-2.png") no-repeat center top
  .emot-show-3
    background url("../../img/emot/emot-3.png") no-repeat center top
  .emot-show-4
    background url("../../img/emot/emot-4.png") no-repeat center top
  .emot-font-btn
    width 183px
    height 170px
    float left
    .emot-ps
      display block
      margin 10px
      font-size 16px
      text-align left
      color #000
      
// 下载按钮
.download-btn
  display block
  width 154px
  height 32px
  margin 34px 8px 0 0
  border 3px solid #000
  border-radius 10px
  cursor pointer
  background-color #48dbff
  font-size 18px
  font-weight bold
  &:visited
    color #000
  &:hover
    color #ffd21c

// 表情包放大
.emot-detail
  display none
  position absolute
  top -4px
  left -4px
  z-index 10
  background-color #fff
  border 4px solid #000
  border-top-width 3px
  border-radius 4px
  .emot-detail-top
    overflow auto
    width 540px
    height 400px
    li
      float left
      border-style solid
      border-color #000
      border-right-width 2px
      border-bottom-width 2px
      cursor pointer
      &:hover
        background-color #95ba12
      &:nth-child(6n+1)
        border-left-width 0
      img
        max-width 86px
        max-height 75px
        margin-top 4px
  // 特殊处理
  .emot-special-1
    width 474px
    height 243px
  // -------
  .detail-btn
    margin 20px auto 20px
  .emot-big
    display none
    position absolute
    top 0
    background-color #fff
    border-bottom 2px solid #000
    img
      width 174px
      height 158px
      -max-width 175px
      -max-height 159px
    // 特殊处理
    .img-special-1
      width 152px
    // -------
  .big-left
    left 0
    border-right 2px solid #000
  .big-right
    right 13px
    border-left 2px solid #000
    border-right 1px solid #000

// 滚动轴样式(只有chrome支持)
.scrollbar::-webkit-scrollbar
  width 12px
.scrollbar::-webkit-scrollbar-track
  background-color #e7e7e7
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  border 1px solid #ccc
.scrollbar::-webkit-scrollbar-thumb
  background-color #48dbff
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  
@media screen and (max-width: 1280px)
  .header #nav
    .search-box
      width 158px
    li
      margin-right 2px