@import "../variable.styl"
@import "../module/nav-detail.styl"

#nav
  display none
.error-page
  width 880px
  margin: 0px auto
  padding-top: 100px
  box-sizing: border-box
.err-box
  width 486px
  margin 0 auto
  .errimg
    width 171px
    height 225px
    background url("../../img/404.png")
  .reason
    margin 40px 0 0 48px
  h3
    font-size 20px
    color $colorGray
    font-weight 600
    margin-bottom 30px
  .p1
    font-size $fontSize
    color $colorGray2
  .p2
    font-size 13px
    color $colorGray2
    margin-top 6px
.err-recommend
  width 880px
  margin 36px auto
  .p3
    font-size 18px
    color $colorGray
    margin-bottom 30px
  .txt
    font-size $fontSizeSmall
    color $colorGray2
    margin-left 18px
.recom-video
  margin-right -20px
.video
  margin-right 20px
  width 160px
  float left
.detail
  width 160px
  height 216px
  background indianred
