@import "../base.styl"
@import "../module/slider.styl"
colorArr = #ff9006 #6bc3c0 #2aa9ca #eb6153 #aece6f #e14975 #ff9006 #6bc3c0 #2aa9ca #eb6153 #aece6f #e14975
//sizeArr = 0 1 0 1 0 1 0 1 0 1 0 1
for v,i in colorArr
  .hot-style{i}
    color v
    //font-size unit(16+4*sizeArr[i],px)
    &:hover
      color invert(v)

borderColor = #f0f0f0
.back-old
  display none
.main
  background #f8f8f8
.channel-symbol
  display none
  width 6px
  height 20px
  border-radius 3px
  background #fd4c5b
  margin-top 5px
  margin-right 12px
.area-channel-channel
  overflow hidden
  .module-video
    width 900px
.area-slider
  margin-bottom 50px
.area-channel-slider
  padding 10px 10px 0 10px
  background #f8f8f8
  overflow hidden
  height 320px
  margin-bottom 50px
  li
    display inline-block
  .slider-bigger
    width 1160px
    height @height
    overflow hidden
    position relative
    border-radius 3px
    a
      display block
      height 16px
      width 100%
    .slider-con
      position absolute
      left 0
      top 0
    .slider-item
      position relative
      margin 0
      vertical-align top
      width 1160px
      height 320px
      overflow hidden
      img
        width @width
        height @height
    .slider-title
      position absolute
      width 100%
      height 38px
      padding 6px 0
      line-height 46px
      color #fff
      b
        margin-left 10px
        width 70%
        display block
      .slider-title-item
        width 335px
        text-align left
        p
          color #ffffff
          height 16px
          line-height @height
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
        .p1
          font-size 14px
        .p2
          margin-top 4px
          font-size 12px
        &.single
          p
            margin-top 10px

    .slider-count
      position absolute
      z-index 2
      bottom 15px
      right 0
      padding 0 10px
      width 700px
      height 50px
      background rgba(0,0,0,0.6)
      text-align right
      left 220px
      border-radius 3px
      #slider-title
        width 335px
        height 50px
        margin 0 10px
        position relative
        overflow hidden
      #slider-button
        width 340px
        height 50px
        span
          border-radius 5px
          margin 5px 4px
          width 60px
          height 40px
          overflow hidden
          cursor pointer
          display inline-block
          img
            width @width
            height @height
            display block
          &.active
            border 3px solid $colorRed1
            width 54px
            height 34px
            img
              width @width
              height @height

.main-bottom
  padding 0 10px
  .channel-rank
    .channel-hot-search
      width 260px
      margin-bottom 20px
      .hotWord
        overflow hidden
        //background #fff
        border-radius 3px
        //border 1px solid borderColor
        padding 0
        width 260px
        a
          font-size 12px
          color #333333
          overflow hidden
          height 25px
          line-height @height
          margin-right 10px
          margin-bottom 10px
          padding 0 10px
          cursor pointer
          border 1px solid #e1e1e1
          border-radius 3px
          background #fff
          &:hover
            color #fd4c5b
    .hotHeader
      font-size 18px
      color #333
      margin-bottom 10px
      font-weight bold
      span
        position absolute
        margin-left 200px
        margin-top -18px
        img
          display none
    .module-rank
      width 260px
      margin-bottom 50px
      border-radius 3px
      li.has-img
        border-radius 0 3px 3px 3px
        &.channel-rank-first
          display block
          height 160px
          >span
            height 20px
            width @height
            line-height @height
          >div
            position absolute
            height 36px
            top 91px
            padding 30px 10px 3px
            width 280px
            b,p
              a
                color #fff
                &:hover
                  color $colorRed1
            .p1
              float left
              a
                display block
                width 110px
                height 18px
            .p2
              color #fff
              float right
          a
            img
              width 300px
              height 160px
        >span
          i
            text-align center
            text-indent 0

        &.channel-rank-after
          >span
            background rgba(0,0,0,0.5)
    .fame-hall
      width 260px
      border-radius 3px

      .fame-header
        margin-bottom 10px
        div
          font-size 18px
          color #333
          font-weight bold
      .module-main
        .module-con
          li
            height 210px
            padding-top 10px
            border-top 1px solid #eee
            position relative
            &.li-first
              border-top none
            .uper-title
              position absolute
              z-index 2
              color #fff
              margin-top 90px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
              width 240px
              padding 0 10px
              left 0
              border-bottom-right-radius 3px
              border-bottom-left-radius 3px
              padding-top 30px
            p
              color #999
              &.user-info
                position relative
                padding-right 70px
                height 24px
              .follow
                position absolute
                border 1px solid #dedede
                border-radius 3px
                width 52px
                height 20px
                line-height @height
                text-align center
                color #fd4c5b
                right 0
                top 0
                cursor pointer
                margin 1px 0
                &.visited
                  color #999999
                  background #EEEEEE
            .subTitle
              height 24px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
            .user-div
              position relative
              height 70px
              width @height
              border-radius @height * 0.5 px
              z-index 2
              float left
              background #f8f8f8
              margin 0 6px 0 -3px
              .user-img
                height 64px
                width @height
                border-radius @height * 0.5 px
                margin 3px 3px

            .trend-img
              position relative
              height 146px
              width 260px
              margin-top -20px
              z-index 1
              border-radius 3px


  .channel-operate
    .area-header
      margin-bottom 0
    .area-title
      font-size 18px
      color #333
      height 30px
      line-height 30px
      margin-left 4px
      font-weight bold
    a
      &.area-title
        &:hover
          color #fd4c5b
    .area-change-btn
      margin-left 20px
      cursor pointer
      margin-top 3px
    .area-ad
      //width 880px
    .area-more
      //margin-right 20px
    .area-channel-monkey
      height 180px
      overflow hidden
      .top
        margin 0 0 20px 0
        font-size 18px
        color #333
        height 20px
        font-weight bold
      .block-title
        p
          .text-overflow
            max-width 100%
          .fr
            display none
          span
            &:nth-child(1)
              a
                color $colorGray2
                &:hover
                  color $colorRed1
    .area-channel-banana
      //height 402px
      .area-tab-nav
        margin-right 0
        margin-top -6px
        a
          line-height 20px
      .area-main
        height 152px
        overflow hidden
      .banana-ad
        overflow hidden
        border-radius 3px
        img
          width 880px
          height 100px
          border-radius 3px
      .block-box
        width 160px
        height 136px
        margin-bottom 18px
        &:nth-child(1),&:nth-child(2),&:nth-child(3)
          .block-top
            width 40px
            height 20px
            line-height 20px
            >i
              display inline-block!important
            strong
              margin-left 3px
        &:nth-child(1)
          .block-top
            color #fdc02f
        &:nth-child(2)
          .block-top
            color #e8edee
        &:nth-child(3)
          .block-top
            color #fd8e25
        .block-title
          font-size 12px
          height 50px
          b
            height 18px
            margin-top 6px
          em
            color $colorGray2
            width 80px
            float left
            margin-top 4px
            a
              color $colorGray2
          a
            color $colorGray
            &:hover
              color $colorRed1

        .block-img
          width 160px
          height 90px
          margin-bottom 0
        .block-top
          width 24px
          height 20px
          text-align center
          line-height @height
          font-size 14px
          top 3px
          left 3px
          color #fff
          border-radius 3px
          background-color rgba(0,0,0,0.6)
          i
            display none
        .banana-number
          width 78px
          color #f9bc00
          font-size 14px
          text-align right
          float right
          margin-top 2px
          i
            width 18px !important

.verified-ico
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 4px;
.verified-1
  background: url(../../img/monkey.png) no-repeat 50% 50%
  background-size: 18px 18px
.verified-2
  background: url(../../img/verified-blue.png) no-repeat 50% 50%
  background-size: 18px 18px
.verified-3
  background: url(../../img/verified-yellow.png) no-repeat 50% 50%
  background-size: 18px 18px
@media screen and (max-width: 1280px)
  .area-channel-slider
    height 270px
    .slider-bigger
      width 980px
      height @height
      .slider-count
        left 130px
      .slider-item
        width 980px
        height 270px
        overflow hidden
        img
          width @width
          height @height
