@import "../module/share-more.styl"
$hover = #fd4c5b
.main
  margin-bottom: 0
.header
  padding 0 !important
  &.fixed
    .nav
      position: static
      box-shadow: none
      background-color #fff
  #nav
    display block !important
    top 0
    li
      margin-right 10px
      .user-avatar
        display none
    .search-box
      width 170px
      position: relative
      left: 0
      top: 8px
      #search-text
        width 150px
        border-radius 14px
        border-right 1px solid #e5e5e5
        padding-right 24px
        height: 30px
        font-size: 12px
        text-indent: 6px
      .search-result
        width 240px
        font-size: 12px
        border-radius: 0 0 3px 3px
        top: 38px !important
        .hot-search
          text-indent: 6px;
        ul
          height auto !important
          li
            clear both
            width 220px
            height 32px
            margin-right: 0
            i
              font-style: normal
              color: #fd4c5d
      .search-hot-ul
        height auto !important
        li
          margin 0
          clear both
          font-size 12px
          height 32px
          width 130px
      .search-btn
        margin-left -25px
        color #909699
        width 0
        .icon-search
          width 20px
          &:before
            color: inherit;

    .header-guide
      overflow visible
      ul
        height auto
        padding 0 12px
        li
          a
            height auto
      .guide-item-con
        left: -5px
        a
          color #333
          padding-left: 0
          &:hover
            color #fd4c5d
        #user-message-con
          width 186px
          li
            float: none
section
  &.head
    margin-top 20px
    margin-bottom 20px
    .title
      height 20px
      line-height @height
      font-size @height
      color #333
      margin-bottom 16px
    .crumbs
      color #888
      height 12px
      line-height @height
      font-size @height
      #bd_crumb
        height: 12px
      .fl
        a,span
          color #888
          margin-right 6px
          &.sp6,&.sp7
            margin-left 14px
          &.sp7
            cursor pointer
            &:hover
              color $hover
          &.sp1,&.sp3,&.sp5
            &:hover
              color $hover

        .avatar-wrap
          margin-right: 6px
          margin-left: 14px
        .avatar
          height: 24px
          width: 24px
          border-radius: 50%
          position: relative
          top: -5px
        .name-wrap
          margin-right: 2px
          color: #333
          &:hover
            color: #fd4c5b
      .fr
        a
          color $hover
          display none
  &.ad-header
    height 60px
    margin-bottom 20px
    figure
      width 570px
      height @height
      background #ffffff
      border-radius 3px
      position relative
      img
        width @width
        height @height
      span
        position absolute
        width 28px
        height 16px
        line-height 16px
        font-size 12px
        text-align center
        left 4px
        bottom 4px
        color #fff
        background rgba(0,0,0,0.1)
        border-radius 3px
        background url("../../img/page/detail/ad.png")
        background-size 100%
    a:nth-child(2)
      figure
        margin-left 20px
  &.part
    margin-top 4px
    margin-bottom 0
    background #fff
    padding 0 10px 0 5px
    box-sizing border-box
    border 1px solid #eee
    border-bottom none
    max-height 200px
    overflow hidden
    .fl
      width 990px
      overflow-y auto
      a
        width 230px
        height 28px
    .part-wrap
      max-height: 200px
      overflow-y auto
      .scroll-div
        padding-top: 10px
        position: relative
    .part-ctrl
      padding-top: 10px
    .fr
      span
        display none
        width auto
        border none
        color #62a5ff
        margin 0
        height: 28px;
        line-height: 27px;
        cursor: pointer;
        border-radius: 3px
        padding: 0 10px
        &:hover
          background: #f5f5f5;
    &.gheight
      height 46px
      .fl
        overflow hidden
    .fl
      a
        padding 0 10px
        font-size 12px
        margin 0 5px 10px
        height 28px
        line-height @height - 1
        box-sizing border-box
        border 1px solid #eee
        border-radius 3px
        overflow hidden
        cursor pointer
        white-space nowrap
        text-overflow ellipsis
        &.active
          background rgba(253,76,91,0.1)
          color $hover
          border 1px solid #fae7e8
  &.player
    // min-height 572px
    min-height: 730px
    margin-bottom: 20px
    #player
      .handle
        border 1px solid #eee
        display none
        padding-left 25px
        border-radius 3px 3px 0 0
        background #fff url("../../img/page/detail/arrow.png") no-repeat 2.5% 50%;
        height 26px
        line-height: 26px
        cursor move
        border-bottom none
        margin-bottom -1px
        z-index 2
        width 100%
        box-sizing border-box
        position absolute
      object
        width: 1160px
        // height 572px
        height 730px
      &.small
        width 260px !important
        height 171px !important
        position fixed
        z-index 3
        left 1270px
        top: 60px
        object
          width 260px !important
          height 146px !important
          border 1px solid #eee
          border-radius 0  0 3px 3px
          position absolute
          bottom 0
        &:hover
          .handle
            display block

  &.crumb
    background #fff
    height 70px
    border 1px solid #eee
    border-radius 3px
    margin-bottom: 20px
    .view,.danmu,.comm,.shu,.collection,.phone,.banana
      height 36px
      margin 17px 0 17px 20px
      width: 60px
      // .img
      //   height 36px
      //   width @height
      //   border-radius @height * 0.5
      //   margin-right 10px
      .sp1
        margin-top: 2px
        display block
        font-size 12px
        color #999
        line-height: 1.2;
      .sp2
        font-size 14px
        color #555
        font-weight bold
        line-height: 1.8;
      .sp3
        font-size 12px
        color #333
      .sp4
        font-size 12px
        color #888
    .collection .ico,.phone .ico, .banana .ico
      width: 36px
      height: @width
      border-radius: 50%
      margin-right 10px
    .collection
      .ico
        background: #FF761F
        .img
          width: 36px
          height: @width
          background url("../../img/collection.png") no-repeat 50% 46%;
          background-size: 17px 17px
      &.active
        .ico
          background: #C0C0C0
      .fl
      &.disabled
        .sp3
          color: #999
    .phone
      position: relative;
      .ico
        background: #48C5EE
        .img
          width: 36px
          height: @width
          background url("../../img/phone.png") no-repeat 50% 50%;
          background-size: 14px 17px
      .qrcode-download
        display none
        position absolute;
        margin-left -40px
        z-index 1
        width: 162px;
        height: 182px;
        box-sizing: border-box;
        padding: 20px;
        box-shadow 0 3px 8px rgba(0,0,0,.1)
        border: 1px solid #eee
        border-radius 3px
        background: #fff;
        top: 64px;
        img
          width: 120px;
          height: 120px;
        p
          text-align: center;
          color: #333;
          font-size: 12px;
          line-height: 2;
        &:after
          content: ""
          width: 10px
          height: 10px
          transform: rotate(45deg);
          position: absolute;
          top -6px;
          left 75px;
          background: #fff;
          border-top: 1px solid #eee;
          border-left: 1px solid #eee;
      &:hover
        .qrcode-download
          display block
    .banana
      position: relative;
      .ico
        background: #FFB91B
        .img
          width: 36px
          height: @width
          background url("../../img/banana.png") no-repeat 50% 50%;
          background-size: 20px 17px
      &.active:hover
        .ico .img
          -webkit-animation none
          -moz-animation none
          animation none
      .div-banana
        top:64px
        position absolute
        z-index 1
        display none
        margin-left -140px
        width 196px
        height 77px
        padding 0 22px
        background url("../../img/page/detail/banana_bg.png") no-repeat 100% 50%;
        .text
          span
            max-width: 104px;
            position: relative;
            top: 3px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2;
            text-align: left;
        &:after
          content: ""
          width: 10px
          height: 10px
          transform: rotate(45deg);
          position: absolute;
          top -6px;
          left 154px;
          background: #FFC032;
          border-top: 1px solid #eee;
          border-left: 1px solid #eee;
        .bananaer
          background url("../../img/page/detail/banana_0.png") center no-repeat
          width 38px
          height 30px
          margin-top 10px
          cursor pointer
          &.active
            background url("../../img/page/detail/banana_1.png") center no-repeat
            animation pulse .5s .2s ease both
        span.text
          margin-top 6px
          width 100%
          text-align center
          font-size 13px
          color #fff
      .fly-banana
        position absolute
        display none
        z-index 1
        width auto
        height 50px
        margin-left -118px
        margin-top 20px
        .bananaer
          position absolute
          width 38px
          height 30px
          background url("../../img/page/detail/banana_1.png") center no-repeat
        bananaArr = 0 1 2 3 4
        for v,i in bananaArr
          .banana-{i+1}
            left 38 * v px

    .collection,.phone,.banana
      width 110px
      margin: 0;
      padding: 17px 0 17px 20px
      cursor: pointer
      // .img
      //   background-size 100%
      // &.active
      //   .img
      //     background-size 100%
      &:hover
        .img
          -webkit-animation pulse 1s .2s ease 2 both
          -moz-animation pulse 1s .2s ease 2 both
          animation pulse 1s .2s ease 2 both
        &.active
          .img
            -webkit-animation pulse 1s .2s ease 2 both
            -moz-animation pulse 1s .2s ease 2 both
            animation pulse 1s .2s ease 2 both
    .shu
      width: 1px
      background: #eee
      margin-right: 20px
    #bdshare
      height 36px
      margin 15px 20px
      margin-left 0
      padding-top 4px
      a
        display: inline-block;
        margin-left: 6px;
        span
          background-size 32px !important
          padding-left: 32px !important
        &.jiathis_button_tsina
          span
            background url("../../img/tsina.png") no-repeat
          &.hover
            span
              background url("../../img/tsina-hover.png") no-repeat
        &.jiathis_button_qzone
          span
            background url("../../img/qzone.png") no-repeat
          &.hover
            span
              background url("../../img/qzone-hover.png") no-repeat
        &.jiathis_button_tieba
          span
            background url("../../img/tieba.png") no-repeat
          &.hover
            span
              background url("../../img/tieba-hover.png") no-repeat
        &.jiathis_button_weixin
          span
            background url("../../img/weixin.png") no-repeat
          &.hover
            span
              background url("../../img/weixin-hover.png") no-repeat
    .share-more
      height 30px
      line-height @height
      margin 20px 0
      cursor pointer
      text-align center
      span.icon
        background url("../../img/share_jiao.png")
        width 7px
        height 4px
        margin 13px 10px 28px 6px
        -webkit-transition: all .3s
        -moz-transition: all .3s
        transition: all .3s
        &.reversion
          -webkit-transform: -webkit-rotate(180deg);
          -moz-transform: -moz-rotate(180deg);
          transform: rotate(180deg);
  &.comm
    .columen-left
      width 880px
    .columen-rignt
      width 260px
      .smallAd
        width 260px
        height 128px
        overflow hidden
        img
          border-radius: 3px
  &.ad
    img
      height 100px
      border-radius: 3px
  &.collection
    display: none
    .top
      .title
        font-size 16px
        color #333
        margin-right 16px
      .subs
        font-size: 12px
        position relative
        height 24px
        line-height @height
        border-radius 3px
        background $hover
        padding 0 10px
        cursor pointer
        i,span
          color #fff
          font-size 12px
          font-style: normal
        .cover
          background #fff
          position absolute
          display none
          height 22px
          line-height @height
          top 0
          color #999
          font-size 12px
          width 80%
          text-align center
        &:hover
          background #f00

        &.active
          border 1px solid #eee
          box-sizing border-box
          background #fff
          i,span
            color #999
          &:hover
            .cover
              display block




    .up-crumb
      margin 10px 0 14px
      font-size 12px
      color #999
      i
        font-style normal
      span
        span,a
          margin-right 14px
          color: #999;

        a:hover
          color: $hover

    .video-list
      figure
        height 130px
        width 160px
        margin-right 20px
        position relative
        overflow hidden
        img
          width @width
          height 90px
          border-radius 3px
        .cover
          height 90px
          width @width
          position absolute
          background rgba(0,0,0,0.3)
          top 0
          line-height @height
          text-align center
          display none
          i
            color #fff
            font-size 14px
            font-style: normal
        figcaption
          .title
            font-size 12px
            color #333
            height 24px
            line-height @height
            overflow hidden
          p
            span
              width 80px
              font-size 12px
              color #999
          .icon:before
            margin-right: 5px

        .play-icon
          background: url("../../img/page/detail/play-hover.png") no-repeat 50% 50%
          width: 43px
          height: 43px
          display: none
          position: absolute
          top: 45px
          left: 50%
          margin-top: -21px
          margin-left: -21px
        &:hover
          .play-icon
            display: block;
        &.active
          .play-icon
            display: none;
          .cover
            display: block;
          .icon
            display: inline;
            padding:2px 0 2px 20px
            background: url("../../img/page/detail/play.png") no-repeat left center;
          .title
            height 44px
            line-height 22px
            a
              color $hover
          p
            display none
      .more-btn
        height 130px
        width 80px
        box-sizing border-box
        border 1px solid #eee
        border-radius 3px
        cursor pointer

        span
          display block
          width 30px
          height 30px
          line-height 16px
          margin 0 auto
          margin-top 36px
          font-size 12px
          text-align: center
          color: #999
        &:hover
          background #eee
          span
            color #aaa
        i
          display block
          background url("../../img/page/detail/more.png")
          height 20px
          width @height
          margin 10px auto



.comment-area
  padding-bottom: 50px
  background #fff
.introduction
  background #fff
  border-top 1px solid #eee
  padding-bottom .1px
  section
    .columen-left
      width 880px
      .title
        height 16px
        line-height @height
        font-size @height
        color #333
        margin 20px 0 16px
      .desc
        position relative
        font-size 13px
        color #999
        margin-bottom 20px
        &.gheight
          max-height 40px
          overflow hidden
        .sp1
          text-align: justify
          a
            color: #62a5ff
            padding-left: 3px
            padding-right: 3px
        .open,.close
          position absolute
          right 0
          bottom 0px
          width 70px
          text-align right
          background #fff
          color #62a5ff
          cursor pointer
          display none
      .tag
        .tag-single,.add
          border 1px solid #eee
          border-radius 3px
          height 26px
          line-height @height - 2
          padding 0 8px
          box-sizing border-box
          margin-right 10px
          text-align center
          position relative
          margin-bottom 6px
          a
            font-size 12px
            &:hover
              color $hover
          span
            cursor pointer
            font-size 12px
            margin-top 1px
            margin-left 16px
            &:hover
              color $hover
        .add
          color #888
        .tagInp
          width 140px
          height 26px
          font-size 12px
          color #999
          border-radius 3px
          border 1px solid #eee
          box-sizing border-box
          padding 0 10px
          display none


    .column-right
      width 260px
      position relative
      .upzhu
        background url("../../img/UPZhu.png")
        width 46px
        height 32px
        position absolute
        top 0
        left 10px
      .user
        height 64px
        padding-top 30px
        .avatar
          position absolute
          z-index 1
          width 64px
          height @width
          border-radius @width * 0.5
          left 0
          margin-top: 2px;
          border: 2px solid transparent
          // border: 2px solid #ffb91b;
        .a1
          .backg
            width 60px
            height @width
            border-radius @width * 0.5
            background #333
            margin: 5px 20px 2px 2px
            float left
          .banana-num
            position absolute
            z-index 1
            width 22px
            height 16px
            left 60px
            filter "alpha(opacity=0)"
            -moz-opacity 0
            opacity 0
            &.active-1
              background url("../../img/page/detail/banana+1.png")
            &.active-2
              background url("../../img/page/detail/banana+2.png")
            &.active-3
              background url("../../img/page/detail/banana+3.png")
            &.active-4
              background url("../../img/page/detail/banana+4.png")
            &.active-5
              background url("../../img/page/detail/banana+5.png")
          .bubble
            position absolute
            top 0
            .bubble-1
              background rgb(253,145,38)
              width 36px
              height @width
              border-radius @width * 0.5
            .bubble-2
              background rgb(254,228,86)
              width 26px
              height @width
              border-radius @width * 0.5
            .bubble-3
              background rgb(253,145,38)
              width 16px
              height @width
              border-radius @width * 0.5
            .bubble-1,.bubble-2,.bubble-3
              filter "alpha(opacity=0)"
              -moz-opacity 0
              opacity 0
          .eating
            position: absolute
            top 23px
            left 13px
            background: url(../../img/page/detail/eating.png)
            z-index: 10
            width: 52px
            height: 17px
            opacity: 0
            transition: all .3s
        .title
          font-size 14px
          color #333
          margin-bottom 10px
          margin-top: 4px
        .tool
          span,a
            height 26px
            line-height @height - 2
            width 64px
            text-align center
            border-radius 3px
            font-size 12px
            &.flow
              background $hover
              color #fff
              cursor pointer
              &:hover
                background #f00
            &.letter
              margin-left 14px
              color #888
              border 1px solid #eee
              box-sizing border-box
              &:hover
                background: #f5f5f5
      .bottom
        margin-top 16px
        margin-left: 8px
        .desc,.crumbs
          font-size 12px
          color #999
        .desc
          width 100%
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          margin-bottom 6px
.adActive
  padding-top 20px
  border-top 1px solid #eee
  margin-top 20px
//主播推荐
.anchor-right
  width 260px
  padding 8px 0 0 0
  margin-left 20px
  .tab-anchor
    font-size 16px
    color #333
    height 20px
    line-height 20px
    margin-bottom 16px
  .anchorMessage
    width 100%
    max-height 553px
    overflow hidden
    .anchor-box
      background #fff
      margin-bottom 20px
      border-bottom-left-radius 4px
      border-bottom-right-radius 4px
      .head
        padding-bottom 8px
        border-top 1px solid #EEEEEE
        border-left 1px solid #EEEEEE
        border-right 1px solid #EEEEEE
        border-top-left-radius 4px
        border-top-right-radius 4px
        .images
          display inline-block
          width 40px
          height 40px
          margin 8px 10px 0 8px
          img
            border-radius 50%
        .rig
          width 200px
          margin-top 10px
          .name
            margin-right 6px
            display inline-block
            max-width 140px
          .p1,.p2
            color #999
            font-size 12px
          .p2
            height 18px
            line-height 18px
      .bg
        width 260px
        height 114px
        position relative
        background pink
        border-bottom-left-radius 4px
        border-bottom-right-radius 4px
        .islive
          position absolute
          right 0
          color #fff
          width 40px
          height 20px
          line-height 20px
          text-align center
          background #999999
          border-bottom-left-radius 4px
          z-index 2
          &.live
            background #fd4c5b
          &.active
            border-top-right-radius 4px
        .mask-gradient
          height 28px
          line-height 20px
          position absolute
          left 0
          bottom 0
          padding-top: 30px
          z-index 2
          width 100%
          border-bottom-left-radius 4px
          border-bottom-right-radius 4px
          b
            display block
            color #fff
            padding 0 12px
        .mask-pop
          width 260px
          height 114px
          position absolute
          top 0
          z-index 1
          background rgba(0,0,0,0)
          transition background 0.3s ease-in
          -moz-transition background 0.3s ease-in
          -webkit-transition background 0.3s ease-in
          -o-transition background 0.3s ease-in
          .playP
            width 40px
            height 40px
            margin 35px auto
            background url("../../img/play.png") no-repeat
            background-size 100%
            display none
        &.active
          border-top-left-radius 4px
          border-top-right-radius 4px
      &:hover
        .mask-pop
          background rgba(0,0,0,0.3)
          .playP
            display block
  .openanchor
    width 100%
    height 28px
    line-height 28px
    text-align center
    color #333
    font-size 12px
    background #eee
    border-radius 4px
    cursor pointer
    margin-top 20px
    span
      margin-left -12px
      display inline-block
    .icon
      width 11px
      height 8px
      display inline-block
      margin-left 6px
      background url("../../img/V.png") no-repeat
      background-size 100%
      -webkit-transition all
      -moz-transition all
      transition all
      &.active
        webkit-transform -webkit-rotate(180deg)
        -moz-transform -moz-rotate(180deg)
        transform rotate(180deg)
        display block
        margin -19px 0 0 142px




#ACFlashPlayer
  border 1px solid #eee
  box-sizing border-box
  display: block
@media screen and (max-width: 1440px)
  .wp
    width: 980px
  .introduction,.comment-area
    section
      .columen-left
        width 700px
  .header #nav
    .search-box
      width 158px
    li
      margin-right 2px
  section.ad-header
    height 50px
    figure
      width 480px
      height @height
      img
        width @width
        height @height
  section.part
    div.fl
      width 800px
      .single-p
        width 180px
  section.player
    // min-height 470px
    min-height 628px
    #player
      object
        width:980px
        // height 470px
        height: 628px
      &.small
        left 870px
  section.collection
    .video-list
      figure
        margin-right 10px
        width 140px
        img
          width @width
        figcaption
          p
            span
              width 70px
  section.ad
    img
      height 84px
  .footer
    .footer-nav
      div
        padding 0 26px
    .footer-link
      div
        width 202px
        padding-left 21px

#share-more
  width: 280px;
  padding: 20px 20px 10px;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0,0,0,.1)
  h1
    margin-bottom: 16px;
  .area-share
    span
      width: 68px;
      margin-right: 0
      &.copy
        height: 24px
    .subtitle
      padding-left:0
    input
      width: 145px
      height: 22px
.jiathis_style_32x32
  white-space: nowrap;

.noflash-alert
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 25%;
  padding: 30px 10px 0 10px;
  color: #626262;
  width: 400px;
  height: 180px;
  background-color: #fff;
  text-align: center;
  z-index: 999;
  border:1px solid #eee;
  p
    font-size: 20px;
    margin-bottom: 20px;
  .description
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    img
      float: left;
      margin-left: 70px;
    p
      width: 220px;
      float: left;
  .button
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #626262;
    border-radius: 6px;
    background-color: #e6e6e6;
    margin: auto;
    display: inline-block;

.verified-ico
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 4px;
.verified-1
  background: url(../../img/monkey.png) no-repeat 50% 50%
  background-size: 18px 18px
.verified-2
  background: url(../../img/verified-blue.png) no-repeat 50% 50%
  background-size: 18px 18px
.verified-3
  background: url(../../img/verified-yellow.png) no-repeat 50% 50%
  background-size: 18px 18px
