@import "../variable.styl"

#main
	background #f7f7f7
#nav
	display none 
.heaTop
	width 100%
	height 170px
	background url('../../img/banner.png') center
	margin-bottom 20px

.content
	width 1000px
	margin 0 auto
	background #fafafa
	border-radius 2px
	box-shadow 0px 0px 20px rgba(0, 0, 0, 0.08)
	-webkit-box-shadow 0px 0px 20px rgba(0, 0, 0, 0.08)
	-moz-box-shadow 0px 0px 20px rgba(0, 0, 0, 0.08)

.help-left
	width 199px
	background #fafafa
	border-right 1px solid #e3e3e3
	padding-bottom 20px
	p
		height 40px
		line-height 40px
		text-align center
		font-size 12px
		border-bottom 1px solid #e3e3e3
		margin-bottom 15px
		color #99928e
	div
		padding 12px 0 12px 26px
		cursor pointer
		font-size 13px
		color #333
		line-height 20px
		border-bottom 1px solid transparent
		border-top 1px solid transparent
		&.active
			color #fd4c5b
			font-weight 600
			line-height 20px
			font-size 13px
			border-color #e3e3e3
		.pro
			display inline-block
			width 84px
			&:hover
				color #fd4c5b
		.ico
			width 12px
			height 8px
			display inline-block
			background url("../../img/down@1x.png")
			color #cdcdcd
			margin-left 64px
		.con
			width 12px
			height 8px
			display inline-block
			background url("../../img/up@1x.png")
			color #cdcdcd
			margin-left 64px
	.one:hover
		color #fd4c5b
	.child
		margin 0 0 0 -52px
		padding 12px 0 0 26px
		div
			padding 10px 0 13px 52px
			font-size 12px
			color #555
			height 17px
			line-height 20px
			border-bottom 1px solid transparent
			border-top 1px solid transparent
			&:hover
				color #fd4c5b
			&.active
				color #fd4c5b
				font-weight 600
				border-color #e3e3e3

.help-right
	width 800px
	border-left 1px solid #e3e3e3
	background #fff
	margin-left -1px
	p
		width 720px
		height 50px
		line-height 50px
		border-bottom 1px solid #e3e3e3
		margin 20px auto
		font-size 24px
		span
			display inline-block
			width 4px
			height 20px
			border-radius 100px
			background #fd4c5b
		strong
			margin 0 0 0 10px
			color #222
	div
		width 720px
		margin 0 auto
	.problem
		color #222
		font-weight 600
		margin-bottom 10px
		font-size 14px
		i
			color #fd4c5b
	.answer
		color #555
		font-size 12px
		margin 18px 0 40px 0
		a
			color #0d74ee
			&:hover
				color #fd4c5b
	.foo
		width 720px
		margin 50px auto
		a
			color #0d74ee
			&:hover
				color #fd4c5b