@import "../variable.styl"
@import "../module/slider.styl"

//重置区块样式
.area-monkey, .area-banana-rank, .area-channel
  .crop-margin
    margin-right -20px

.area-channel
  .module-rank
    .module-main
      height 257px
      .module-con
        .has-img-last
          margin-bottom 5px

.area-channel-big,.area-channel-middle,.area-channel-big-middle
  .area-main
    .module-video
      width 900px

.area-channel-big
  .area-main
    height 430px
    overflow hidden

  .module-rank
    .module-main
      height 400px

.area-channel-small
  height 180px
  .block-video
    margin-bottom 0


//首页轮播图
.area-home-slider
  $spacing = 20px
  background #f8f8f8
  height 260px
  padding 20px 10px 0 10px
  li
    overflow hidden
    display inline-block
    margin 0 $spacing $spacing 0
  .calendar-box
    //缩放时会错乱所以-1px
    margin-bottom ($spacing - 1)
    border-radius 3px
    width 452px
    height 120px
    overflow hidden
  .slider-big
    width 452px
    height 260px
    overflow hidden
    position relative
    border-radius 3px
    a
      display block
      height 100%
      width 100%
    .slider-con
      position absolute
      left 0
      top 0
    .slider-item
      position relative
      margin 0
      vertical-align top
      width 452px
      height 260px
      overflow hidden
      img
        margin-left -30px
    .slider-title
      position absolute
      bottom 0
      left 0
      width 100%
      height 28px
      line-height 28px
      padding-top 30px
      color #fff
      b
        margin-left 10px
        width 70%
        display block
    .slider-count
      height 28px
      position absolute
      z-index 2
      bottom 0
      right 0
      padding 0 10px
      span
        margin 10px 0 0 8px
        border-radius 5px
        width 8px
        height 8px
        line-height 8px
        overflow hidden
        text-indent -10px
        background #fff
        display inline-block
        text-indent 20px
        cursor pointer
      .active
        background #fd4c5d
        width 16px

  .slider-right
    width 688px
    height 260px
  .slider-small
    $width = 216px
    $padding = 12px
    margin 0 (- $spacing) (- $spacing) 0
    li
      width $width
      height 120px
      vertical-align top
      border-radius 3px
    a
      display block
      position relative
      &:hover
        .mask
          height 120px
          background rgba(0, 0, 0, 0.7)
          padding-top 0

        b
          padding 0 $padding
          margin $padding 0
          height 40px
          line-height 20px
          overflow hidden
        p
          display block
    img
      position relative
      z-index 1
    b, p
      display block
      color #fff
      padding 0 $padding
    p
      display none
      position absolute
      bottom 0
      left 0
      height 50px
      font-size 12px
      line-height 22px
      width ($width - $padding * 2)
    span
      display block
      clear both
    .icon
      font-size 12px
      &:before
        margin-right 5px
      &:first-of-type
        width 80px
        display inline-block
    .mask-gradient
      height 28px
      line-height 28px
      position absolute
      left 0
      bottom 0
      padding-top 30px
      z-index 2
      width 100%

//猴子推荐
.area-monkey
  .area-main
    height 130px
    overflow hidden
  .block-video
    margin-bottom 0
    height 130px
    .block-title
      p
        span
          &:nth-child(1)
            max-width 100%
          &:nth-child(2)
            display: none
          a
            color #999
            &:hover
              color #fd4c5d
  .area-recommend
    float right
    text-align right


//香蕉榜
.area-banana-rank
  height 460px
  .area-tab-nav
    margin-right 0
  .area-main
    height 308px
    overflow hidden
  .banana-ad
    overflow hidden
    border-radius 3px
    img
      width 880px
      height 100px
      border-radius 3px
  .block-box
    width 160px
    height 136px
    margin-bottom 18px
    &:nth-child(1),&:nth-child(2),&:nth-child(3)
      .block-top
        width 40px
        height 20px
        line-height 20px
        >i
          display inline-block!important
        strong
          margin-left 3px
    &:nth-child(1)
      .block-top
        color #fdc02f
    &:nth-child(2)
      .block-top
        color #e8edee
    &:nth-child(3)
      .block-top
        color #fd8e25
    .block-title
      font-size 12px
      height 50px
      b
        height 18px
        margin-top 6px
      em
        color $colorGray2
        width 86px
        float left
        margin-top 4px
        a
          color $colorGray2
      a
        color $colorGray
        &:hover
          color $colorRed1

    .block-img
      width 160px
      height 90px
      margin-bottom 0

    .block-top
      width 24px
      height 20px
      text-align center
      line-height @height
      font-size 14px
      top 3px
      left 3px
      color #fff
      border-radius 3px
      background-color rgba(0,0,0,0.6)
      i
        display none
    .banana-number
      width 74px
      color #f9bc00
      font-size 14px
      text-align right
      float right
      margin-top 2px
      i
        width 18px !important



//番剧
.area-drama
  .module-drama
    height 532px
    overflow hidden
  .drama-img
    position absolute
    left 5px
    bottom 0
.module-drama
  &.crop-margin
    margin-right -20px
  .block-drama
    height 270px
    width 160px
    margin-bottom 7px
    .block-title
      //padding 4px 0
      p
        span
          color $colorRed1
          font-size 12px
          &.gray-style
            color $colorGray2
//safari 浏览器此处有闪烁问题
.safari
  .module-drama
    a
      img
        -webkit-transition none
        transition none


//本季安利
.module-season
  .module-main
    height 532px
    overflow hidden
  .pic-box
    margin-bottom 20px

//放映时间表
.time-line
  height 530px
  background #fafafa
  border 1px solid #f0f0f0
  overflow hidden
  margin 0 2px
  border-radius 3px
  position relative
  .time-block
    height 530px
    float left
    width 124px
    border-right 1px solid #f0f0f0
    position relative
    z-index 2
    &:last-of-type
      border none
    &.active
      background rgba(253,76,91,0.1)
      h6
        background #fd4c5d
        color #fff
      .time-day-icon
        &.time-day1
          background-position 0 0
        &.time-day2
          background-position -22px 0
        &.time-day3
          background-position -44px 0
        &.time-day4
          background-position -66px 0
        &.time-day5
          background-position -88px 0
        &.time-day6
          background-position -110px 0
        &.time-day7
          background-position -132px 0
    h6
      padding 0 6px
      height 32px
      line-height 32px
      text-align center
      border-bottom 1px solid #f0f0f0
      position relative

    ul
      //padding 6px 0
      max-height 715px
      display block
      overflow hidden
      li
        padding 4px 14px 0 14px
        line-height 18px
        //margin-bottom 8px
        height 56px
        &.has-img
          padding 0
          height 136px
          img
            margin-bottom 8px
            //border-radius 3px
            width 124px
            height 70px
          b,p
            padding 0 14px

        &:last-of-type
          margin-bottom 0
        b
          max-height 38px
          display inline-block
          overflow hidden
          vertical-align top
        p
          font-size 12px
          color $colorGray2
          &.green-style
            color $colorGreen
          &.red-style
            color $colorRed1
    .more-btn
      display block
      padding 0 6px
      font-size 12px
    .time-day-icon
      width 22px
      height 22px
      position absolute
      right 0
      bottom 0
      background url('../../img/sprite-week.png') no-repeat 0 -23px
      &.time-day1
        background-position 0 -23px
      &.time-day2
        background-position -22px -23px
      &.time-day3
        background-position -44px -23px
      &.time-day4
        background-position -66px -23px
      &.time-day5
        background-position -88px -23px
      &.time-day6
        background-position -110px -23px
      &.time-day7
        background-position -132px -23px

//文章区
.module-article
  border-radius 3px
  position relative
  .module-header
    margin 0 0 3px
    a.more
      right 10px
      top 1px
      line-height 36px
      text-align center
      position absolute
      color $colorGreen
      &:hover
        color #00997e
        .icon
          color #00997e
      .icon
        color $colorGreen
        vertical-align -1px
        margin-left 2px
        font-size 12px
        &:before
          font-size 12px
          vertical-align 1px

  .module-title
    font-size 20px
    padding 0
    font-weight bold
    b
      a
        &:hover
          color $colorGreen
  .module-tab
    a
      $height = 18px
      line-height $height
      display inline-block
      padding 4px 6px 6px 6px
      font-size 12px
      text-align center
      color $colorGray
      border-bottom 2px solid #f1f2f3
      &:hover
        color $colorGreen
      &.active
        color $colorGreen
        border-color #2ab69d
  .module-con
    ul
      padding 12px 0 0
      height 346px
    li
      &.has-img
        p
          span
            &:nth-child(1)
              float left
              max-width 86px
            &:nth-child(2)
              float right
              margin-top 1px
          a
            &:hover
              color $colorGreen
            &:visited
              &:hover
                color $colorGreen
      a
        &:hover
          color $colorGreen
        &:visited
          &:hover
            color $colorGreen
  .module-footer
    a.more
      display block
      background #eee
      color $colorGray
      &:hover
        background #e4e4e4
      .icon
        &:before
          vertical-align -1px
          margin-left 5px
//主播推荐
section.area-live
  height 180px
  .area-main
    overflow hidden
    height 130px
  .column-left
    .area-recommend
      width 440px
  .column-right
    .module-con
      figure
        margin-bottom 11px
        img
          border-radius 16px
          margin-right 10px
        .desc
          font-size 12px
          color #999
          display block
          height 16px
          line-height @height
          overflow hidden
    header
      .module-title
        img
          border-radius 20px
          margin-top -10px

  .column-box
    figure
      .block-img
        .block-img-temp
          height 90px
          width 160px
          left 0
          top 0
          position absolute
          background rgba(253,76,91,0.6)
          z-index 1
          display none
        i
          position absolute
          z-index 2
          top 0
          right 0
          width 48px
          height 20px
          line-height @height
          text-align center
          background #fd4c5b
          border-top-right-radius 3px
          color #fff
        &:hover
          .block-img-temp
            display block
      figcaption
        margin-top 8px
        img
          border-radius 16px
        ._title
          width 120px
          margin-left 8px
          b
            font-size 12px
            display block
            height 16px
            line-height @height
            overflow hidden
            &.crumbs
              color #999
              a
                color #999









//雪花
.snow_wrapper
  display none
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 9999
  pointer-events none









@media screen and (max-width: 1280px)
  .area-home-slider
    .slider-big
      width 508px
      .slider-item
        width 508px
        img
          margin-left 0

    .slider-right
      width 452px
    .slider-small
      li:nth-last-of-type(-n+2)
        display none

  .area-drama
    .drama-img
      width 240px
      height 162px
  .time-line
    margin 0 -1px
    .time-block
      width 99px
      ul
        li
          &.has-img
            img
              position relative
              left -12px





//-  圣诞节
#christmas
  height 100%
  width 100%
  position fixed
  z-index 999
  //-background url("../../img/activity/2016-christmas.gif") no-repeat
  background-size 100%
  .close-btn
    color #fd4c5b
    font-size 13px
    position fixed
    top 50px
    right 50px
    cursor pointer