@import "../base.styl"
@import "../module/slider.styl"
@import "../variable.styl"

colorArr = #ff9006 #6bc3c0 #2aa9ca #eb6153 #aece6f #e14975 #ff9006 #6bc3c0 #2aa9ca #eb6153 #aece6f #e14975
//sizeArr = 0 1 0 1 0 1 0 1 0 1 0 1
for v,i in colorArr
  .hot-style{i}
    color v
    //font-size unit(16+4*sizeArr[i],px)
    &:hover
      color invert(v)

$colorOrange = #FB9F00

borderColor = #f0f0f0
.back-old
  display none
body
  background: #fff;
  .header
    .header-banner
      display: none
    .nav
      position: fixed;
      top: 46px !important;

.main
  background: #fff url('../../img/page/overwatch/ow_bg.jpg') no-repeat 50% 0
  background-size: 1920px auto
  overflow-x: hidden;
  margin-top: 47px;
  .nav
    background: rgba(0,0,0,0.4)
    .nav-sub
      ul
        li
          a
            color: #fff
          &.active a, a:hover
              color $colorOrange


.area-slider
  margin-bottom 35px
  margin-top: 160px
  height: auto
  background: transparent
  visibility: hidden
  position: relative
  .slider-wrap
    background: url(../../img/page/overwatch/sliderbg.png) no-repeat 50% 50%;
    background-size: 560px auto;
    padding: 29px 23px;
    width: 560px;
    height: 324px;
    box-sizing: border-box;
    position: relative;
    &:before, &:after
      content: ""
      display: block
      position: absolute
      width: 120px
      height: 2px
      background: rgba(255,255,255,0.6)
    &:before
      top 0
      animation sliderleft 1.5s linear infinite
    &:after
      bottom: 0
      animation sliderright 1.5s linear infinite

  .slider-wrap-1
    position: relative;
    &:before, &:after
      content: ""
      display: block
      position: absolute
      width: 240px
      height: 6px
    &:before
      top -17px
      background: url(../../img/page/overwatch/rectangle.png) no-repeat 50% 50%;
      background-size: 240px auto;
      animation cycletop 3s ease-in-out infinite alternate
    &:after
      bottom: -17px
      background: url(../../img/page/overwatch/rectangle.png) no-repeat 50% 50%;
      transform: rotate(180deg);
      background-size: 240px auto;
      animation cyclebottom 3s ease-in-out infinite alternate

  .slider-big
    width: 514px
    height: 266px
    border-radius: 9px;
    .slider-count .active
      background: $colorOrange
    .slider-item
      width: 514px
      height: 266px
      img
        width: 514px
        height: 266px
        margin-left:0
  .slider-right-x6
    width: 600px
    height: auto
    position: absolute
    right: 0
    .slider-small
      margin: 0
      li
        width: 274px
        height: 146px
        margin: 0 0 20px 20px
        border: 3px solid #fff
        border-radius: 3px
        img
          width: 274px
          height: 146px
        a:hover
          .mask
            height: 146px
            background: rgba(83,96,134,0.6)


.channel-rank
  .module-rank
    width 260px
    margin-bottom 50px
    border-radius 3px
    .module-header
      margin-bottom: 20px
    .module-title
      padding-top: 6px
      a
        color: rgba(83,96,134,1)
        font-size: 1.6em;
        font-style: italic;
        font-weight: 600;
        text-shadow: 0 0 8px rgba(83,96,134,0.2)
        &:hover
          color: $colorOrange
          text-shadow: none;
    .module-tab
      a
        color: #536086
        &.active
          border-color: rgba(251,159,0,0.1)
          background: rgba(251,159,0,0.1)
          color: $colorOrange
    li.has-img
      border-radius 0 3px 3px 3px
      p a
        color: #536086;
        &:hover
          color: $colorOrange
      >span
        background $colorOrange
      &.channel-rank-first
        display block
        height 160px
        >span
          height 20px
          width @height
          line-height @height
        >div
          position absolute
          height 36px
          top 91px
          padding 30px 10px 3px
          width 280px
          b,p
            a
              color #fff
              &:hover
                color $colorRed1
          .p1
            float left
            a
              display block
              width 110px
              height 18px
          .p2
            color #fff
            float right
        a
          img
            width 300px
            height 160px
      >span
        i
          text-align center
          text-indent 0

      &.channel-rank-after
        >span
          background rgba(0,0,0,0.5)
  .fame-hall
    width 260px
    border-radius 3px

    .fame-header
      margin-bottom 10px
      div
        font-size 28px
        color #536086
        font-weight 600
        font-style: italic
        font-family: "Microsoft Yahei",STHeiti,sans-serif
    .module-main
      .module-con
        li
          height 210px
          padding-top 10px
          border-top 1px solid #eee
          position relative
          &.li-first
            border-top none
          .uper-title
            position absolute
            z-index 2
            color #fff
            margin-top 90px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width 240px
            padding 0 10px
            left 0
            border-bottom-right-radius 3px
            border-bottom-left-radius 3px
            padding-top 30px
          p
            color #999
            &.user-info
              position relative
              padding-right 70px
              height 24px
              a
                color #536086
                &.active
                    background rgba(251, 159, 0, 0.1)
                    color $colorOrange

            .follow
              position absolute
              border 1px solid #dedede
              border-radius 3px
              width 52px
              height 20px
              line-height @height
              text-align center
              color $colorOrange
              right 0
              top 0
              cursor pointer
              margin 1px 0
              &.visited
                color #999999
                background #EEEEEE
          .subTitle
            height 24px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
          .user-div
            position relative
            height 70px
            width @height
            border-radius @height * 0.5 px
            z-index 2
            float left
            background #f8f8f8
            margin 0 6px 0 -3px
            .user-img
              height 64px
              width @height
              border-radius @height * 0.5 px
              margin 3px 3px

          .trend-img
            position relative
            height 146px
            width 260px
            margin-top -20px
            z-index 1
            border-radius 3px
.third-height
  margin-top 10px
.column-left
  .area-filters
    .filters-title
      color: rgba(83,96,134,1);
      font-size: 28px;
      font-style: italic;
      font-weight: 600;
      padding-bottom: 10px;
      text-shadow: 0 0 8px rgba(83,96,134,0.2);
    .top
      padding-bottom: 8px;
    .btn-style
      background: rgba(83,96,134,0.6);
      transform: skewX(-11deg);
      border-radius: 5px;
      height: 21px;
      line-height: 21px;
      width: 100px;
      text-align: center;
      color: #fff;
      span
        display: block;
        transform: skewX(11deg);
    a.btn-style
      display: none;
      background: #fff;
      color: $colorOrange
      margin-left: 10px
      &:hover
        box-shadow: 0 0 3px rgba(0,0,0,.1);
      &:active
        transform: scale(.98) skewX(-11deg);
      &.show
        display: block;

    .hero-module
      border-radius: 4px;
      background: rgba(83,96,134,0.3);
      transform: skewX(-11deg);
      margin-bottom: 12px;
      margin-right: 12px;
      .group-icon
        transform: skewX(11deg);
        padding: 28px 15px;
      .hero-box
        width: 52px;
        margin: 10px 10px 10px 0;
        position: relative;
        cursor: pointer;
        &:hover
          transform: scale(1.1)
          box-shadow: 0 0 3px -1px rgba(0,0,0,.3)
          .hero-title
            display: block
        &:active
          transform: scale(1)
          box-shadow: none
        .hero-img
          border-width: 3px 1px
          border-color: #fff
          border-style: solid
          border-radius: 4px
          width: 52px
          height: 60px
          overflow: hidden
          box-sizing: border-box
          img
            transform: skewX(11deg)
            margin-left: -4px
            margin-top: -3px
        .hero-title
          transform: skewX(11deg) scale(0.8)
          transform-origin: left
          width: 125%

    .tags-module
      .tags-box
        margin-right: 10px
        position: relative
        cursor: pointer
        &:hover
          transform: scale(1.1)
          box-shadow: 0 0 3px -1px rgba(0,0,0,.3)
          .tags-title
            display: block
        &:active
          transform: scale(1)
          box-shadow: none
        .tags-img
          width: 112px 56px
          border: 4px solid #fff
        .tags-title
          span
            transform: scale(0.8)

    .hero-module .hero-title,
    .tags-module .tags-title
        text-align: center
        width: 100%
        position: absolute
        bottom: -6px
        display: none
        span
          display: inline-block
          background: #fff
          border-radius: 3px
          white-space: nowrap
          padding: 0 3px

      .hero-box.active .hero-img,
      .tags-box.active .tags-img
          border-color: #fe9e01
      .hero-box.active .hero-title,
      .tags-box.active .tags-title
          display: block
          span
            background: #fe9e01
            color: #fff




  header
    position relative
  .list-tab
    padding 8px 0
    margin-right 54px
    a
      padding 0 10px
      height 26px
      line-height 26px
      display inline-block
      color #536086
      border-radius 3px
      border 1px solid transparent
      background none
      &.active
        background rgba(251, 159, 0, 0.1)
        color $colorOrange

.area-date
  float left
  width auto
  height 28px
  line-height 28px
  text-align center
  border 1px solid #ccc
  margin 4px 0 8px 203px
  border-radius 3px
  padding 0 7px
  color #9a9a9a
  .icon-calendar
    margin 4px 4px 0 0
    font-size 17px
  .area-date-list
    line-height 25px
  span
    margin 2px

#third-view
  width 90px
  height 28px
  border 1px solid #ccc
  margin 4px 0 0 0
  border-radius 3px
  padding 0 0 0 14px
  background: #fff
  a
    float left
    margin 3px 12px 0 0
    cursor pointer
    color #9a9a9a
    &:hover
      color $colorOrange
    .icon
      font-size 18px
      display inline-block
      margin-top -3px
  a.default
    color $colorOrange


#list-data
  margin-top 6px
  position relative
  .video-num
     strong
       margin-left 5px
  .img-wp
    overflow: hidden;
    img
      &:hover
        transform: scale(1.05)
      &:active
        transform: scale(1)

#list-video li a
  color #536086
  &:hover
    color $colorOrange
.module-rank .module-con li a
  color #536086
  &:hover
    color $colorOrange

#list-data.th-large
  #list-video
    min-height 450px
    margin-right -18px
  .third-img
    width 428px
    height 90px
    list-style none
    margin 0 21px 20px 0
    .text-over
      display block
      height 39px
      word-break break-all
      overflow hidden
      font-size 13px
    .img-wp
      margin-right 14px
    .icon
      color #bbb
      font-size 12px
      margin-right 24px
    .up-name
      margin-bottom 5px
      img
        margin 7px 10px 0 0
    .third-name
      display inline-block
      margin 10px 0 0 0
      max-width 212px
      height 16px
      overflow hidden
    .video-description, .video-time, .icon-comments
      display none

#list-data.th-normal
  #list-video
    min-height 450px
    margin-right -20px
  .third-img
    width 160px
    height 184px
    list-style none
    margin 0 20px 20px 0
    .img-wp
      img
        width 160px
        height 90px
    .text-over
      display inline-block
      max-height 36px
      word-break break-all
      overflow hidden
      margin 7px 0 -7px 0
    .img-wp
      margin-right 14px
    .icon
      color #bbb
      font-size 12px
      margin-right 24px
    .up-name
      margin-bottom 5px
      img
        margin 7px 10px 0 0
    .third-name
      display inline-block
      margin 10px 0 0 0
      max-width 126px
      height 16px
      overflow hidden
    .video-description, .video-time, .icon-comments
      display none

#list-data.th-list
  #list-video
    min-height 450px
  .third-img
    width 100%
    list-style none
    margin 0 0 20px 0
    .text-over
      width 704px
      display inline-block
      height 16px
      line-height 16px
      word-break break-all
      overflow hidden
      margin 0 0 -6px 0
      font-size 14px
      font-weight 500
    .img-wp
      margin-right 14px
    .icon
      font-size 12px
      margin-right 16px
    div
      height 35px
      .video-num
        color #bbb
        float left
        margin 10px 0 0 0
      .up-name
        float left
        margin 0 24px 4px 0
        display inline-block
        img
          margin 7px 10px 0 0
    .third-name
      max-width 192px
      height 16px
      display inline-block
      margin 10px 0 0 0
      word-break break-all
      overflow hidden
    .video-description
      color #999
      height 36px
      width 704px
      word-break break-all
      word-wrap break-word
      overflow hidden
    .video-time
      margin-right 44px

#list-pager
  .area-pager
    text-align center
    width: auto;
    float: left;
    .pager
      float none
      min-width 18px
      padding 0 5px
      &.active
        background-color: $colorOrange
    .hint
      float none



.third-img
  .up-name
    img
      width 24px
      height 24px
      border-radius 50%
#emotion
  width 150px
  height 200px
  border 1px solid transparent
  padding 0 75px
  position absolute
  left 289px
  top 88px
  .alert
    width 250px
    background #d9edf6
    margin-left -50px
#list
  width 150px
  height 40px
  background #d9edf6
  line-height 40px
  text-align center
  font-size 15px
  margin-top 5px


.module .module-footer a.more
  background: rgba(83,96,134,0.2)
  &:hover
    background: rgba(83,96,134,0.4)
    color: #536086

@media screen and (min-width: 1920px)
  .main
    background-size: 100% auto

@media screen and (max-width: 1280px)
  .area-slider
    height: 289px
    .slider-wrap
      transform: translateX(0px) scale(0.84)
      transform-origin: top left
    .slider-right-x6
      transform: translateX(0px) scale(0.84)
      transform-origin: top right
      .slider-small li:nth-last-of-type(-n+2)
        display: inline-block
  .column-left
    .area-filters
      .hero-module
        margin-bottom:9px
        margin-right:9px
        border-radius: 3px
        .group-icon
          padding: 21px 12px
        .hero-box
          margin: 7px 7px 7px 0
          width: 42px
          .hero-img
            width: 42px
            height: 48px
          .hero-title
            transform:skewX(11deg) scale(.6)
            transform-origin: left;
            width: 165%
  .area-channel-slider
    height 270px
    .slider-bigger
      width 980px
      height @height
      .slider-count
        left 130px
      .slider-item
        width 980px
        height 270px
        overflow hidden
        img
          width @width
          height @height
  .area-date
    margin 4px 0 8px -1px
  #list-data.th-large
    #list-video
      .third-img
        width 330px
        .third-name
          max-width 122px

  #list-data.th-list
    #list-video
      .text-over
        width 502px
      .video-time
        margin-right 8px
      .up-name
        margin 0 8px 5px 0
      .third-img
        .third-name
          max-width 66px
          height 16px
          overflow hidden
        .video-num
          margin 10px 0 0 0
        .icon
          margin-right 12px
        .video-description
          width 500px
  #emotion
    left 193px


@keyframes sliderleft
  0%
    left 60px
    width: 0px
  25%
    left 60px
    width: 120px
  75%
    left: 382px
    width: 120px
  100%
    left 502px
    width: 0px
@keyframes sliderright
  0%
    left 502px
    width: 0px
  25%
    left 382px
    width: 120px
  75%
    left: 60px
    width: 120px
  100%
    left 60px
    width: 0px


@keyframes cycletop
  0%
    left: 25px
  100%
    left: 255px
@keyframes cyclebottom
  0%
    left: 255px
  100%
    left: 25px
