@import "../variable.styl"
@import "game.styl"
.header
	padding 0 !important
	#nav
		display block !important
		top 0 !important
		background #fff !important
		li
			.user-avatar
				display none
		.header-guide
			overflow visible
			ul
				height auto
				padding 0 12px
				li
					a
						height auto
			.guide-item-con
				left -5px
				a
					color #333
					padding-left 0
					&:hover
						color #fd4c5b
				#user-message-con
					width 186px
					li
						float none
		.search-box
			width 170px
			position relative
			left 0
			top 8px
			#search-text
				width 150px
				border-radius 14px
				border-right 1px solid #e5e5e5
				padding-right 24px
				height 30px
				font-size 12px
				text-indent 6px
			.search-btn
				margin-left -25px
				color #909699
				width 0
				.icon-search
					width 20px
					&:before
						color inherit
			.search-result
				width 240px
				font-size 12px
				border-radius 0 0 3px 3px
				top 38px !important
				.search-hot-ul
					height auto
					li
						height 32px
						width 220px
						b
							font-weight bold
#packslider
	height 340px
	background none
	.box
		width 100%
		height 340px
		position absolute
		border none
		left 0
		top 0
		.slider-big
			width 100%
			height 340px
			overflow hidden
			position relative
			.slider-item
				overflow hidden
				img
					width 1920px
					height 340px
			.slider-con
				position relative
				width 7680px
			.slider-count
				width auto
				right 0
		.btnL,.btnR
			top 140px
.recommend
	.box-img
		position relative
		.packtitle
			position absolute
			bottom 0
			width 260px
			padding 0 10px
			height 34px
			line-height 34px
			font-size 14px
			color #fff
			background rgba(0,0,0,0.5)
		.packspop
			display none
			width 180px
			position absolute
			background #fff
			padding-bottom 6px
			z-index 1
			box-shadow 0 2px 4px 0 rgba(0,0,0,0.20)
			.name
				height 35px
				line-height 35px
				font-size 14px
				color #333
				margin 0 0 10px 14px
				width 146px
				padding-left 4px
				border-bottom 1px solid #e8e8e8
			.packtype
				.pack1
					margin-left 19px
					margin-bottom 8px
					img
						width 22px
						height 22px
						border-radius 2px
						margin-right 7px
					span
						font-size 12px
						height 22px
						line-height 22px
						color #333
	.message-box
		height 452px
		overflow-y auto
		.mes-list
			cursor pointer
			.mesimg
				img
					border-radius 0
			.title
				font-size 14px
				height 14px
				line-height 14px
				span
					color #333
			.areames
				margin-top 4px
				padding-bottom 0
				position relative
				.giftnum
					width 196px
					position absolute
					top 16px
					background #fff
					span
						color #0092d6
				.lists
					div
						width 174px
				.date,.lists,.giftnum
					font-size 12px
					height 16px
					line-height 16px
					color #999
				.lists,.giftnum
					margin 4px 0 12px 0
					i
						float right
						margin-top -11px
						width 10px
						height 6px
						background url("../../img/game/zhankai.png") no-repeat
				.packtypeL
					//display none
					margin-top -4px
					.pack1
						margin-left 0
						margin-bottom 8px
						img
							width 22px
							height 22px
							border-radius 2px
							margin-right 7px
						span
							font-size 12px
							height 22px
							line-height 22px
							color #333
					.pack2
						margin 8px 0 8px 0
					.pack3
						margin-bottom 12px
		.notlong
			height 450px
			border 1px solid transparent
			.acimg
				width 100px
				margin 97px 0 0 76px
				.imgSrc
					width 100px
					height 92px
					background url("../../img/game/ac-long.png") no-repeat
					margin-bottom 10px
				span
					font-size 12px
					color #333
					padding-left 18px
			.btnlogin
				margin-top 24px
				a
					width 100px
					height 28px
					line-height 28px
					text-align center
					border 1px solid #ff4a59
					color #ff4a59
					border-radius 100px
					&:hover
						background #ff4a59
						color #fff
				.btn1
					margin-right 14px
					margin-left 8px
		.nothing
			height 450px
			border 1px solid transparent
			.acimg
				width 100px
				margin 97px 0 0 76px
				.imgS
					width 90px
					height 92px
					background url("../../img/game/AC-空.png") no-repeat
					background-size 100%
					margin-bottom 10px
				span
					font-size 12px
					color #333
					padding-left 18px
.gameList
	height auto
	.listBox
		width 380px
		height auto
		cursor pointer
		margin-bottom 10px
		.listT
			height 90px
		.leftL
			width 190px
			a
				float right
				margin -20px -64px 0 0
				font-size 12px
				color #0092D6
		.appointment
			margin 44px 18px 0 0
			&.active
				cursor default
				background #dcdcdc
				border-color #dcdcdc
		.btnhas
			color #92C202
			background none
			border none
			cursor default
			i
				float left
				width 13px
				height 11px
				margin-top 10px
				background url("../../img/game/clear.png") no-repeat
		.notbtn
			background #dcdcdc
			border-color #dcdcdc
			color #fff
			border-radius 100px
		.Package-details
			//display none
			width 380px
			float left
			background #fff
			position absolute
			z-index 1
			.detailR
				margin-left 100px
				margin-right -20px
				.topX
					width 260px
					border-top 1px solid #EAEAEA
				.detailBox
					width 60px
					margin 10px 20px 12px -10px
					img
						width 40px
						height 40px
						border-radius 2px
						margin-left 10px
					.packname
						width auto
						text-align center
					.num
						text-align center
		&:hover
			.Package-details
				box-shadow 0 2px 4px 0 rgba(0,0,0,0.20)
.gamelist
	.search-gift
		position relative
		#search-gift
			width 190px
			height 28px
			border 1px solid #ddd
			border-radius 100px
			padding-left 18px
		#search-gift-btn
			position absolute
			right 6px
			top 5px
			width 24px
			height 24px
			cursor pointer
			background url("../../img/game/search.png") no-repeat
			&:hover
				background url("../../img/game/search-hover.png") no-repeat
.history-gift
	position relative
	margin-top 50px
	.l
		border 1px solid #e6e6e6
	.gift
		width 380px
		height 40px
		line-height 40px
		text-align center
		background #e8e8e8
		border-radius 100px
		font-size 14px
		color #333
		position absolute
		left 390px
		top -20px
		cursor pointer
		margin-bottom 50px
.giftTitle
	font-size 12px
	color #666
	line-height 16px
	height 16px
	margin-top 16px
.recommend
	margin-top 10px
@media screen and (max-width: 1280px)
	.recommend,.gamelist
		.box-img
			.packtitle
				width 320px
		.gameList
			.listBox
				width 320px
				.leftL
					width 126px
			.Package-details
				width 320px
				.detailR
					.topX
						width 202px
	.history-gift
		.gift
			left 300px

